[workspace]
resolver= "2"
members = [
    "easytier-core",
    "easytier-cli"
]

default-members = [
    "easytier-core",
    "easytier-cli"
]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
