.cm-s-easytier-dark.CodeMirror {
  @apply bg-background text-current;
}

.cm-s-easytier-dark div.CodeMirror-selected {
  @apply bg-slate-700;
}
.cm-s-easytier-dark .CodeMirror-line::selection,
.cm-s-easytier-dark .CodeMirror-line > span::selection,
.cm-s-easytier-dark .CodeMirror-line > span > span::selection,
.cm-s-easytier-dark .CodeMirror-line::-moz-selection,
.cm-s-easytier-dark .CodeMirror-line > span::-moz-selection,
.cm-s-easytier-dark .CodeMirror-line > span > span::-moz-selection {
  @apply bg-slate-700;
}

.cm-s-easytier-dark .CodeMirror-gutters {
  @apply bg-background border-r-0;
}

.cm-s-easytier-dark .CodeMirror-guttermarker {
  @apply text-white;
}

.cm-s-easytier-dark .CodeMirror-guttermarker-subtle,
.cm-s-easytier-dark .CodeMirror-linenumber {
  @apply text-muted-foreground;
}

.cm-s-easytier-dark .CodeMirror-cursor {
  @apply border-solid border-l-[1px] border-yellow-300;
}

.cm-s-easytier-dark.cm-fat-cursor .CodeMirror-cursor,
.cm-s-easytier-dark .cm-animate-fat-cursor {
  @apply bg-zinc-600;
}

.cm-s-easytier-dark span.cm-comment {
  color: #626a73;
}
.cm-s-easytier-dark span.cm-atom {
  @apply text-purple-400;
}
.cm-s-easytier-dark span.cm-number,
.cm-s-easytier-dark span.cm-builtin {
  @apply text-yellow-300;
}

.cm-s-easytier-dark span.cm-comment.cm-attribute,
.cm-s-easytier-dark span.cm-property,
.cm-s-easytier-dark span.cm-attribute {
  @apply text-amber-500;
}

.cm-s-easytier-dark span.cm-comment.cm-def,
.cm-s-easytier-dark span.cm-comment.cm-tag,
.cm-s-easytier-dark span.cm-variable-3,
.cm-s-easytier-dark span.cm-tag,
.cm-s-easytier-dark span.cm-link {
  @apply text-sky-400;
}

.cm-s-easytier-dark span.cm-comment.cm-type {
  color: #5998a6;
}

.cm-s-easytier-dark span.cm-keyword,
.cm-s-easytier-dark span.cm-type {
  color: #ff8f40;
}
.cm-s-easytier-dark span.cm-string,
.cm-s-easytier-dark span.cm-header {
  @apply text-lime-400;
}

.cm-s-easytier-dark span.cm-variable {
  color: #b3b1ad;
}
.cm-s-easytier-dark span.cm-variable-2 {
  color: #f07178;
}
.cm-s-easytier-dark span.cm-def {
  color: #ffee99;
}
.cm-s-easytier-dark span.cm-bracket {
  color: #f8f8f2;
}
.cm-s-easytier-dark span.cm-error {
  color: #ff3333;
}

.cm-s-easytier-dark .CodeMirror-activeline-background {
  @apply bg-background;
}

.cm-s-easytier-dark .CodeMirror-matchingbracket {
  @apply underline-offset-auto !text-white;
}

.CodeMirror-scrollbar-filler {
  @apply bg-background;
}
